.btn{
  border-radius: 5px;
}

// 交易所 功能列 radio btn
.functional-btn {
  background-color: #3B3F49;
  color: rgba(255, 255, 255, 0.965);
  width: 120px;
  height: 25px;
  border-radius: 5px;
  font-size: 0.9rem;
  &:checked{
    background-color: red;
  }
}

.radio-btn:checked + .functional-btn{
  background-color: #EB7547;
} 


// 交易所 類別 radio btn
.category-btn {
  background-color: #A9ADAE;
  color: rgba(255, 255, 255, 0.965);
  height: 45px;
  width: 90%;
  border-radius: 5px;
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.radio-btn:checked + .category-btn{
  background-color: #46505C;
}

// 交易所 細類 radio btn
.detail-btn {
  color: rgba(255, 255, 255, 0.965);
  height: 45px;
  width: 100%;
  font-size: 0.9rem;
}

.radio-btn:checked + .detail-btn{
  background-color: #46505C;
}
