.multiselect {
  margin: 0;
  max-width: 300px;
  box-shadow: none !important;
  .multiselect-option{
  &.is-selected{
    background:#999;
    &.is-pointed{
      background: rgba(153, 153, 153, 0.87);
    }
  }
 }
  &:focus{
    border-color: $primary-orange;
  }
  .multiselect-dropdown{
    border-color: $primary-orange;
  }
}

.form-control{
  max-width: 300px;
  box-shadow: none !important;
  &:focus{
    border-color: $primary-orange;
  }
}