.multiselect {
  margin: 0;
  // max-width: 300px;
  box-shadow: none !important;
  &.is-open{
    border-color: $primary-orange;
  }
  .multiselect-tag{
    background-color: $primary-orange;
    font-weight: normal;
  }
  .multiselect-option{
  &.is-selected{
    background:#999;
    &.is-pointed{
      background: rgba(153, 153, 153, 0.87);
    }
  }
 }
  &:focus{
    border-color: $primary-orange;
  }
  .multiselect-dropdown{
    border-color: $primary-orange;
  }
}

.form-control {
  // max-width: 300px;
  box-shadow: none !important;
  &:focus{
    border-color: $primary-orange;
  }
}

.form-check-input:checked {
  background-color: $primary-orange;
  border-color: $primary-orange;
}

.form-check-input:focus {
  box-shadow: none;
}

// input type number hide arrow 
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
