.trading-cart {
  width: 100%;
  height: 80vh;
  min-height: 500px;
  background-color: #e2e2e2;
  border-radius: 10px;
  box-shadow: 0 0 15px #8f8f8f;
  .cart-title-row {
    width: 100%;
    height: 60px;
    background-color: #415067;
    border-radius: 10px 10px 0 0;
    i {
      color: rgba(255, 255, 255, 0.965);
    }
    .cart-title {
      color: rgba(255, 255, 255, 0.965);
      font-size: 24px;
    }
  }

  .functional-row {
    width: 100%;
    height: 45px;
    background-color: #fffefe;
  }

  .table-row {
    height: calc(100% - 105px);
    .category-box {
      background-color: #cacaca;
      border-radius: 0 0 0 10px;
    }
    .detail-box {
      width: 90%;
      height: 100%;
      border-radius: 10px;
      background-color: #5f6d78;
    }
    .items-box {
      padding: 15px 10px;
      .title-row{
        margin: 0 0 10px 0;
        color: gray;
        font-weight: 500;
        width: 98%;
      }
      .item-card {
        width: 98%;
        height: 90px;
        border-radius: 10px;
        background-color: #ffffff;
        transition: background-color 0.15s, color 0.15s;
        color: #444b55d7;
        font-weight: 500;
        &:hover {
          background-color: #727272;
          color: rgba(255, 255, 255, 0.952);
        }
        .item-img-box {
          height: 100%;
          width: 100%;
          .item-img {
            width: 75px;
            height: 75px;
            border-radius: 4px;
            background-color: #dcdee1;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 90%;
              height: 90%;
            }
          }
        }
      }
    }
  }
}

// search pannel
.exchange-search-pannel {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.965);
  box-shadow: 0 0 35px #dfdede;
  .row {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}