.trading-cart {
  width: 100%;
  height: 80vh;
  min-height: 500px;
  background-color: #e2e2e2;
  border-radius: 10px;
  .cart-title-row {
    width: 100%;
    height: 60px;
    background-color: $primary-blue;
    border-radius: 10px 10px 0 0;
    i {
      color: rgba(255, 255, 255, 0.965);
    }
    .cart-title {
      color: rgba(255, 255, 255, 0.965);
      font-size: 24px;
    }
  }

  .functional-row {
    width: 100%;
    height: 45px;
    background-color: #fffefeea;
  }

  .table-row {
    height: calc(100% - 105px);
    .category-box {
      background-color: #cacaca;
      border-radius: 0 0 0 10px;
    }
    .detail-box {
      width: 90%;
      height: 100%;
      overflow-y: auto;
      border-radius: 10px;
      background-color: #5f6d78;
      &::-webkit-scrollbar {
        display: none;
      }
      .content {
        min-height: calc(100vh - 60px);
        padding-top: 50px;
        padding-bottom: 20px;
      }
    }
    .items-box {
      height: 100%;
      padding: 15px 10px;
      .product-box{
        height: 100%;
        width: 100%;
        overflow-y: auto;
        .product-row{
          width: 100%;
          padding:0 5px;
        }
      }
      .title-row{
        margin: 0 0 10px 0;
        color: gray;
        font-weight: 500;
        padding:0 5px;
      }
      .item-card {
        cursor: pointer;
        height: 90px;
        border-radius: 10px;
        background-color: #ffffff;
        transition: background-color 0.15s, color 0.15s;
        color: #444b55d7;
        font-weight: 500;
        &:hover {
          background-color: #727272;
          color: rgba(255, 255, 255, 0.952);
        }
        .item-img-box {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

.item-img {
  width: 75px;
  height: 75px;
  border-radius: 4px;
  background-color: #dcdee1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid;
  &.stage-1{
   border-color: $stage-1; 
  }
  &.stage-2{
   border-color: $stage-2; 
  }
  &.stage-3{
   border-color: $stage-3; 
  }
  &.stage-4{
   border-color: $stage-4; 
  }
  &.stage-5{
   border-color: $stage-5; 
  }
  &.stage-6{
   border-color: $stage-6; 
  }
  &.stage-7{
    -moz-border-image: -moz-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
    border-image: linear-gradient(to bottom right, #3acfd5 0%, #3a4ed5 100%);
    border-image-slice: 1;
    clip-path: inset(0 round 4px);
  }
  &.stage-8{
    -moz-border-image: -moz-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
    border-image: linear-gradient(to bottom right, #3acfd5 0%, #3a4ed5 100%);
    border-image-slice: 1;
    clip-path: inset(0 round 4px);
  }
  img {
    width: 90%;
    height: 90%;
  }
}

// search pannel
.exchange-search-pannel {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.637);

  .row {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.dollar-icon{
  font-size: 130%;
  color: rgb(255, 187, 0);
}


.modal-header-row{
  .modal-title{
    font-size: 150%;
  }
}